<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Virtual Backgrounds: storage read permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    

    <!-- Camera/Mic/Bluetooth/Overlay/Phone state will be declared in flavor manifests -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".KitchenSinkApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".calling.LockScreenActivity"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <service
            android:name=".CallRejectService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".extras.ExtrasActivity" />
        <activity
            android:name=".auth.JWTLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.AccessTokenLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.OAuthWebLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.search.MessagingSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.MessagingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.teams.detail.TeamDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.spaces.detail.SpaceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.spaces.members.MembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.spaces.members.membersReadStatus.MembershipReadStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.spaces.readStatusDetails.SpaceReadStatusDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calling.CallActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:supportsPictureInPicture="true"
            android:turnScreenOn="true"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.SetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup.SetupCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calling.DialerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cucm.UCLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.teams.membership.TeamMembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.spaces.detail.FileViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messaging.composer.MessageComposerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webhooks.WebhooksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calling.calendarMeeting.details.CalendarMeetingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calling.CucmCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calling.captions.ClosedCaptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calling.captions.ClosedCaptionsLanguageActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebase.KitchenSinkFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".KitchenSinkForegroundService"
            android:exported="false" />

        <service android:name=".CallManagementService"
            android:foregroundServiceType="phoneCall"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />
    </application>

</manifest>